.bg.mobile {
    display: none;
}

@media only screen and (max-device-width: 480px) {
    .bg.normal {
        display: none;
    }
    .bg.mobile {
        display: block;
    }
    .teko-logo {
        width: 140px;
        height: 35px;
    }
}
